@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
/*html:focus-within {*/
/*    scroll-behavior: smooth; !* przewijanie strony *!*/
/*}*/
body {
    line-height: 1.5;
    text-rendering: optimizeSpeed; /* dla szybszego renderowania lub optimizeLegibility dla dokładniejszego renderowanie tekstu */
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit; /* font dziedziczony */
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word; /*zawijanie wierszy */
}
a:not([class]) {
    text-decoration-skip-ink: auto; /*podkreślenie linków z przerwami na wystające litery takie jak p, y*/
}
:root{
    font-family: 'Nunito Sans', sans-serif;
    /*base color*/
    --base-color-one: #FF0000;
    --base-color-two: #FFFFFF;
    --base-color-blog: #6A6A6A;
    --base-color-form: #B2B2B2;
    /*hover color*/
    --nav-hover: #FFFFFF33;
    /*background color*/
    --bg-header: #000000;
    --bg-blog: #FFFFFF;
    --bg-contact: #FFFFFF;
    --bg-service: #28272C;
    --bg-footer: #28272C;
    /*font size*/
    --font-size-nav-logo: 35px;
    --font-size-nav-menu: 16px;
    --font-size-h1: 90px;
    --font-size-h2: 44px;
    --font-size-h3: 19px;
    --font-size-footer-logo: 25px;
    --font-size-p-big: 16px;
    --font-size-p-small: 14px ;
    --font-size-button: 16px;
    --font-size-form: 10px;
    /*font weight*/
    --font-weight-black: 900;
    --font-weight-extra-bold: 800;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-regular: 400;
    --font-weight-light: 300;
    --font-weight-extra-light: 200;
    /* shadow color */
    --shadow-color: #FF00004D;
    /* checkbox color */
    --checkbox-color: #D1D1D1;
    /* 2'font */
    --font-family-2: 'Open Sans', sans-serif;
}
.🔴 {
    color: var(--base-color-one);
}
.container {
    min-width: 1080px;
}
.hidden {
    overflow: hidden;
}
.page-header {
    background-image: url("../images/Image.png");
    background-size: cover;
    background-position: center center;
    background-color: #28272C;
    width: 100%;
    height: calc(100% - 27px);
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
}
.page-header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bg-header);
    filter: opacity(.3);
    z-index: 2;
}
.page-header::after {
    content: '';
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}
.page-header .container {
    width: 1080px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    z-index: 2;
    margin-bottom: 164px;
}
.page-logo {
    display: flex;
    align-items: center;
    font-size: var(--font-size-nav-logo);
    color: var(--base-color-two);
    padding: 20px;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}
.page-logo .page-logo-img {
    height: 31px;
    width: 35px;
}
.page-logo .page-logo-font {
    font-weight: var(--font-weight-extra-bold);
}
.page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.page-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.page-nav-list li {
    list-style-type: none;
    padding: 33px 22px;
}
.page-nav-list li a {
    text-decoration: none;
    color: var(--base-color-two);
    font-size: var(--font-size-nav-menu);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
}
.page-nav-list li:hover {
    background-color: var(--nav-hover);
}
.page-header-title, .page-header-description {
    text-align: center;
    color: var(--base-color-two);
}
.page-header-title {
    font-weight: var(--font-weight-black);
    font-size: var(--font-size-h1);
}
.page-header-description {
    font-size: var(--font-size-p-big);
    font-weight: var(--font-weight-bold);
    margin-top: 10px;
    margin-bottom: 54px;
}
.page-header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.page-header-btn-link {
    padding: 22px 55px;
    background-color: var(--base-color-one);
    border-radius: 1000px;
    text-decoration: none;
    font-size: var(--font-size-p-small);
    font-weight: var(--font-weight-bold);
    color: var(--base-color-two);
}
.page-header-btn-link:nth-child(2) {
    background-color: var(--base-color-two);
    color: var(--base-color-one);
}
.page-header-down {
    width: 100%;
    height: 27px;
    background-color: white;
    position: relative;
    margin-bottom: 65px;
}
.page-header-down img {
    width: 55px;
    height: 55px;
}
.arrow {
    position: absolute;
    width: 21px;
    height: 21px;
    top: -28px;
    left: 50%;
    background-color: red;
    fill: #FF0000;
    border-radius: 50%;
    padding: 17px;
    transform: translateX(-50%);
    box-shadow: 0 3px 6px var(--shadow-color);
    z-index: 3;
}
.title-section-contact::after, .title-section-contact::before, .title-section::after, .title-section::before, .title-section-service::after, .title-section-service::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--base-color-one);
}
.title-section::after, .title-section-service::after, .title-section-contact::after {
    top: 50%;
    right: -50px;
}
.title-section::before,.title-section-service::before, .title-section-contact::before  {
    top: 50%;
    left: -50px;
}
.blog {
    display: flex;
    justify-content: center;
}
.blog .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-section {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    position: relative;
    padding: 0 3px;
    margin-bottom: 35px;
}
.container_box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    gap: 16px;
}
.blog-box-figure {
    margin-bottom: 25px;
}
.blog-img {
    width: 352px;
    height: 234px;
}
.blog-title, .service-title {
    text-transform: uppercase;
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-regular);
    color: var(--base-color-blog);
    margin-bottom: 15px;
}
.blog-description {
    font-family: var(--font-family-2);
    font-size: var(--font-size-p-small);
    font-weight: var(--font-weight-light);
    margin-bottom: 26px;
}
.blog-link, .service-link {
    text-decoration: none;
    font-size: var(--font-size-p-small);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    padding: 11px 29px;
    background-color: red;
    border-radius: 1000px;
    color: var(--base-color-two);
}
.blog-box {
    margin-bottom: 100px;
}
.service {
    display: flex;
    justify-content: center;
    background-color: var(--bg-service);
}
.service .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-section-service {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    color: var(--base-color-two);
    position: relative;
    padding: 0 10px;
    margin-bottom: 75px;
    margin-top: 60px;
}
.service-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.service-box-figure {
    margin-bottom: 15px;
}
.service-title {
    color: var(--base-color-two);
}
.service-description {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-p-small);
    color: var(--base-color-two);
    text-align: center;
    margin-bottom: 26px;
}
.service .container_box {
    gap: 45px;
}
.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-section-contact {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    position: relative;
    padding: 0 10px;
    margin-top: 60px;
    margin-bottom: 35px;
}
.contact .container_box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 65px;
}
.contact .container_box form {
    display: flex;
    flex-direction: column;
}
.form_image {
    width: 444px;
    height: 316px;
}
input, textarea {
    width: 444px;
    padding: 12px 8px;
    border: 1px solid var(--checkbox-color);
    outline: none;
    margin-bottom: 20px;
    border-radius: 8px;
}
textarea {
    resize: none;
    height: 140px;
}
input:focus, textarea:focus, .button {
    border: 1px solid var(--base-color-one);
    box-shadow: 0 1px 6px var(--shadow-color);
}
::placeholder {
    font-size: var(--font-size-p-big);
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox {
    cursor: pointer;
    display: flex;
    width: 444px;
    font-family: var(--font-family-2);
    font-size: var(--font-size-form);
    color: var(--base-color-form);
    margin-bottom: 31px;
}
.checkbox span {
    height: 22px;
    width: 22px;
    border: 1px solid var(--checkbox-color);
    flex-shrink: 0;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 8px;
}
.checkbox input:checked + span {
    background-image: url("../images/Icon Check.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.button {
    background-color: var(--base-color-two);
    font-size: var(--font-size-p-small);
    font-weight: var(--font-weight-bold);
    color: var(--base-color-one);
    padding: 11px 52px;
    border-radius: 1000px;
    align-self: flex-end;
    text-align: center;
    cursor: pointer;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: var(--bg-service);
    height: 232px;
}
.footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.footer-logo {
    display: flex;
    margin-top: 40px;
}
.footer-img {
    width: 16px;
    height: 19px;
}